<div class="modal fade container-fluid" id="swagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:100%">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @store.name %></h4>
      </div>
      <div class="modal-body">

        <ul style='list-style: none' class='media'>
          <%@store.products.each do |product|%>
              <li class='panel col-md-3  container' title='<%= product.title %>'>
                <div class="col-mid-6 pull-left">
                  <img class="media-object" data-src="holder.js/135x135" />

                  <h6 class="media-title"><%=product.title %></h6>
                  <p class="media-caption">$<%=product.price||='N/A' %></p>

                  <%= javascript_include_tag("//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js") %>
                </div>
                <div class="col-mid-6">

                  <%= truncate(product.description,:omission => "... (continued)", :length => 75) %>
                </div>
                <span><%=button_to("EDIT",edit_product_path(:id=>product.id,:callback=>"edit-product-modal"),:format=>"js",:remote=>true,:method=>:get)%></span>
              </li>
          <%end%>
          <li class='panel col-md-3  container'>
            <span><%=button_to(new_product_path(:callback=>"new-product-modal"),:format=>"js",:remote=>true,:method=>:get,:class=>'btn btn-large btn-light') do%>
                  <i class='icon-plus icon-large white'/>
                Add New Product
                  <%end %>
              </span>
          </li>
        </ul>
      </div>
      <hr class='hr dotted'/>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="new-product-modal"></div>
<div id="edit-product-modal"></div>