<p id="notice"><%= notice %></p>

<div class='container'>
  <div class="col-md-4">
    <%= image_tag @product.image.url(:medium) %>
    <br />
    <p></p><i> $ <%= @product.price||="N/A" %>    </i>
    <span class='badge badge-important'>  <%= @product.count ||=0%> </span>   </p>
  </div>
  <div class="col-md-8">
    <h3>  <%= @product.title %>    </h3>
    <p>  <%= @product.description %>    </p>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back  %>

